<div>
  <span class="h1_heading">Orders</span>
  <span class="new_pr_link">
    <%= link_to 'New Order', new_order_path, :style=>"float:right" %>
  </span>
</div>
<br/>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Pay type</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.name %></td>
      <td><%= order.address %></td>
      <td><%= order.email %></td>
      <td><%= order.pay_type %></td>
      <td></td>
      <td><%= link_to 'Show', order %></td>
      <td><%= link_to 'Edit', edit_order_path(order) %></td>
    </tr>
  <% end %>
</table>

<br />


<p><%= will_paginate @orders %></p>
