<div id="product_list" >
  <div>
    <span class="h1_heading">Products</span>
    <span class="new_pr_link">
      <%= link_to 'New Product' , new_product_path %>
    </span>
  </div>
  <% @products.each do |product| %>
    <div class="entry" >
      <%= image_tag(product.image_url) %>
      <h3><%= product.title %></h3>
      <%=sanitize product.description %>
      <div class="price_line" >
        <span class="price"><%= sprintf("Rs. %0.02f", product.price) %></span>
        <%= link_to 'Show' , product %> |
        <%= link_to 'Edit' , edit_product_path(product) %> |
        <%= link_to 'Destroy' , product,
          :confirm => 'Are you sure?' ,
          :method => :delete %>
      </div>
    </div>
  <% end %>
</div>
<br />

